<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
/>
<div class="min-h-screen flex flex-row">
  <div
    class="flex flex-col w-56 bg-gray-400 rounded-r-3xl overflow-hidden shadow-2xl"
  >
    <div class="flex items-center justify-center h-20 shadow-md">
      <h1 class="text-3xl uppercase text-indigo-500">Long Chen</h1>
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a
          href="admin"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-200 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-home"></i
          ></span>
          <span class="text-sm font-medium">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          href="admin/listCate"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-200 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-music"></i
          ></span>
          <span class="text-sm font-medium">Category</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-200 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-drink"></i
          ></span>
          <span class="text-sm font-medium">Drink</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-200 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-shopping-bag"></i
          ></span>
          <span class="text-sm font-medium">Shopping</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-200 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-chat"></i
          ></span>
          <span class="text-sm font-medium">Chat</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-200 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-user"></i
          ></span>
          <span class="text-sm font-medium">Profile</span>
        </a>
      </li>

      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-200 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-log-out"></i
          ></span>
          <span class="text-sm font-medium">Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- san pham -->

  <div class="w-[83%] mt-20">
    <div class="border max-w-[520px] mx-auto">
      <form
        class="max-w-sm mx-auto max-w-[500px]"
        [formGroup]="productForm"
        (ngSubmit)="onEditSubmit()"
      >
        <h1
          class="block mb-2 text-xl font-medium text-gray-900 dark:text-white flex items-center justify-center text-lg text-gray-500"
        >
          Sửa sản phẩm
        </h1>
        <div class="mb-5 max-w-[500px]">
          <label
            for="base-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Product Name :</label
          >
          <input
            type="text"
            id="base-input"
            class="bg-gray-50 border border-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="name"
          />
          <span
            class="text-red-500 text-sm italic mt-2"
            *ngIf="
              !productForm.controls.name.valid &&
              (productForm.controls.name.dirty ||
                productForm.controls.name.touched)
            "
          >
            Tên không được để trống
          </span>
        </div>
        <div class="mb-5 max-w-[500px]">
          <label
            for="base-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Image :</label
          >
          <input
            type="text"
            id="base-input"
            class="bg-gray-50 border border-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="image"
          />
          <span
            class="text-red-500 text-sm italic mt-2"
            *ngIf="
              !productForm.controls.image.valid &&
              (productForm.controls.image.dirty ||
                productForm.controls.image.touched)
            "
          >
            Ảnh không được để trống
          </span>
        </div>
        <div class="mb-5 max-w-[500px]">
          <label
            for="base-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Price :</label
          >
          <input
            type="number"
            id="base-input"
            class="bg-gray-50 border border-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="price"
          />
          <span
            class="text-red-500 text-sm italic mt-2"
            *ngIf="
              !productForm.controls.name.valid &&
              (productForm.controls.name.dirty ||
                productForm.controls.name.touched)
            "
          >
            Giá không được để trống và phải > 0
          </span>
        </div>

        <div class="mb-5 max-w-[500px]">
          <label
            for="countries"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Select your country</label
          >
          <select
            id="categories"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="category"
          >
            <option
              *ngFor="let category of categories"
              [value]="category.name"
              class="h-20px"
            >
              {{ category.name }}
            </option>
          </select>
        </div>

        <button
          type="submit"
          class="bg-green-600 hover:bg-rose-700 text-white font-bold py-2 px-5 rounded text-center mb-2 w-[100px]"
          [disabled]="!productForm.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
