<div class="mt-20 mb-10">
  <img src="../../../assets/Image/pexelsnaotriponez129208-1@2x.png" alt="" />
</div>
<div class="">
  <div class="flex justify-between items-center">
    <h2 class="text-2xl font-bold text-blue-500 ml-[10%]">Latest news</h2>
    <a href="#" class="text-blue-500 font-bold mr-[10%]">View all</a>
  </div>
  <div class="carousel mt-4 p-2 gap-12 w-[85%] h-[400px] flex mx-auto">
    <div class="carousel-item bg-white rounded-lg shadow-md p-4 flex border">
      <div class="w-[55%]">
        <img
          src="../../../assets/Image/blog1-540x490-crop-center-1@2x.png"
          alt="News Image 1"
          class="w-full rounded-md h-full"
        />
      </div>
      <div class="ml-8 w-1/2">
        <div
          class="text-[#1b5a7d] text-sm border-[3px] font-bold rounded-full w-24 flex justify-center"
        >
          22,oct,2021
        </div>

        <h3 class="text-[20px] font-semibold text-[#1b5a7d] mt-2">
          Who avoids a pain that produces?
        </h3>
        <p class="text-[#1b5a7d] mt-2 w-full">
          Lorem ipsum dolor sit amet consectetur. Nec sit enim tellus faucibus
          bibendum ullamcorper.
        </p>
        <p class="text-[#1b5a7d] mt-10">By spacing tech</p>
      </div>
    </div>
    <div class="carousel-item bg-white rounded-lg shadow-md p-4 flex border">
      <div class="w-[55%]">
        <img
          src="../../../assets/Image/blog2-540x490-crop-center-1@2x.png"
          alt="News Image 1"
          class="w-full rounded-md h-full"
        />
      </div>
      <div class="ml-8 w-1/2">
        <div
          class="text-[#1b5a7d] text-sm border-[3px] font-bold rounded-full w-24 flex justify-center"
        >
          22,oct,2021
        </div>

        <h3 class="text-[20px] font-semibold text-[#1b5a7d] mt-2">
          Who avoids a pain that produces?
        </h3>
        <p class="text-[#1b5a7d] mt-2 w-full">
          Lorem ipsum dolor sit amet consectetur. Nec sit enim tellus faucibus
          bibendum ullamcorper.
        </p>
        <p class="text-[#1b5a7d] mt-10">By spacing tech</p>
      </div>
    </div>

    <!-- Add more carousel items here as needed -->
  </div>
</div>
