<form class="max-w-sm mx-auto" [formGroup]="loginform" (ngSubmit)="onLog()">
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Email</label
    >
    <input
      formControlName="email"
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Email"
    />
    <span
      class="text-[red]"
      *ngIf="
        !loginform.controls.email.valid &&
        (loginform.controls.email.dirty || loginform.controls.email.touched)
      "
    >
      Email không đúng định dạng
    </span>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Password</label
    >
    <input
      formControlName="password"
      type="text"
      placeholder="Password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
    <span
      class="text-[red]"
      *ngIf="
        !loginform.controls.password.valid &&
        (loginform.controls.password.dirty ||
          loginform.controls.password.touched)
      "
    >
      Password tối thiểu 8 kí tự
    </span>
  </div>
  <button
    type="submit"
    [disabled]="!loginform.valid"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
