<div class="w-full h-[500px] flex justify-between">
  <div class="mt-32 ml-[200px]">
    <p class="text-[32px] w-[150px] font-bold text-blue-800">Canon Camera</p>
    <div class="flex mt-10">
      <div class="mr-4 h-[50px] w-[150px] bg-orange-400 rounded-lg text-[20px]">
        <p class="mx-6 mt-2">Shop Now</p>
      </div>
      <div
        class="h-[50px] w-[150px] border border-gray-200 rounded-lg text-[20px]"
      >
        <p class="mx-6 mt-2">View more</p>
      </div>
    </div>
  </div>
  <div>
    <div
      class="rounded-full bg-orange-400 w-[90px] h-[90px] text-[24px] text-white ml-64 mt-96 absolute"
    >
      <p class="ml-5 mt-2">Only $89</p>
    </div>
    <img
      class="w-[400px] h-[400px] mr-32 mt-28 static"
      src="../../../assets/Image/8-1@2x.png"
      alt=""
    />
  </div>
</div>
<div class="flex mx-20 mt-4">
  <div class="flex justify-between h-[147px] w-[382px] border rounded-lg mr-10">
    <div class="ml-8 mt-7 mr-5 h-[94px] w-[154px]">
      <img src="../../../assets/Image/2-1@2x.png" alt="" />
    </div>
    <div class="mr-8 mt-10 text-[blue] w-[100px] text-[24px]">
      <p>Speaker (6 items)</p>
    </div>
  </div>
  <div class="flex justify-between h-[147px] w-[382px] border rounded-lg mr-10">
    <div class="ml-8 mt-7 mr-5 h-[94px] w-[154px]">
      <img class="h-[94px]" src="../../../assets/Image/maytinh.png" alt="" />
    </div>
    <div class="mr-8 mt-5 text-[blue] w-[100px] text-[24px]">
      <p>Desktop & laptop (6 items)</p>
    </div>
  </div>
  <div class="flex justify-between h-[147px] w-[382px] border rounded-lg">
    <div class="ml-8 mt-7 mr-5 h-[94px] w-[154px]">
      <img class="h-[94px]" src="../../../assets/Image/8-1-1@2x.png" alt="" />
    </div>
    <div class="mr-8 mt-5 text-[blue] w-[100px] text-[24px]">
      <p>DSLR camera (6 items)</p>
    </div>
  </div>
</div>

<div class="flex justify-between justify-center mt-10 h-10 w-[95%] mx-auto">
  <div class="font-semibold text-blue-500 text-[20px]">Popular products</div>
  <div class="">
    <ul class="flex gap-5 text-blue-500 font-medium">
      <li
        class="h-10 w-28 flex justify-center items-center border border-[2px] border-blue-500 border-blue-2w-280 rounded-2xl"
      >
        Cameras
      </li>
      <li
        class="h-10 w-28 flex justify-center items-center border border-[2px] border-blue-2w-280 rounded-2xl"
      >
        laptops
      </li>
      <li
        class="h-10 w-28 flex justify-center items-center border border-[2px] border-blue-2w-280 rounded-2xl"
      >
        Tablets
      </li>
      <li
        class="h-10 w-28 flex justify-center items-center border border-[2px] rounded-2xl"
      >
        Mouses
      </li>
    </ul>
  </div>
</div>
